{% extends 'base.html' %}
{% load static %}
    {% block metadescription %}
            Welcome to Online Banking
    {% endblock %}
    {% block title %}
            Online Banking
    {% endblock %}

    {% block content %}

<br>
<div class="card" style="width: 30rem;height:30rem;margin: 0 auto;float: none;margin-bottom: 10px;">
    <div class="card-body">
<form action="register" method="post">
  {% csrf_token %}
  <div class="container">
    <h1>Register</h1>
    <h3>Please fill in this form to create an account.</h3><br>

    <label style="width:400px;"><b>User Name</b></label><br>
    <input type="text" placeholder="Enter Last Name" name="username" style="width:400px;" required><br>

    <label style="width:400px;"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" name="password" style="width:400px;" required><br>

    <label style="width:400px;"><b>Confirm Password</b></label><br>
    <input type="password" placeholder="Confirm Password" name="password1" style="width:400px;" required><br>


    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit">Register</button>
    <button type="reset">Cancel</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="{% url 'credentials:login' %}">Sign in</a>.</p>
  </div>
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
      </div>
</div>
{% endblock %}
